.container-fluid {
    border-bottom: 2px solid #1d3c4738;
}

.sen, .mag, .sub {
    font-size: 13px;
    margin: 0;
}

.cre {
    font-size: 12px;
}

.Negative {
    color: #F95A27;
}

.Neutral {
    color: #FFD65A;
}

.Positive {
    color: #A3D65A;
}